.WK {
    display: flex;
    width: 50px;
    background-color: white;
    height: 120px;
    margin-left: 4px;
    border-radius: 3px;
}

.BK {
    display: flex;
    width: 30px;
    background-color: black;
    height: 75px;
    transform: translateX(50%);
    margin-left: -30px;
    border-radius: 3px;
}
.BK.active {
    background-color: lightskyblue;
    transition: 0.05s linear;
}

.WK.active {
    background-color: lightskyblue;
    transition: 0.05s linear;
}

.WK:active {
    background-color: lightskyblue;
    transition: 0.05s linear;
}

.BK:active {
    background-color: lightskyblue;
    transition: 0.05s linear;
}