.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#ffffff, #889b86);
  height: 100vh;
  user-select: none;
}

.touchpad{
  background-color: aquamarine;
  height: 300px;
  width: 300px;
}

.Synth label#brand{
  font-family: Fantasy;
  font-size: xx-large;
}

.Synth{
  padding: 10px 20px 0px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border: 5px outset rgb(66, 66, 66);
  background: linear-gradient(to top, #1a1a1a 0%, rgb(59, 59, 59) 100%);
}

.SliderSection{
  display: flex;
  flex-direction: row;
}

#VizSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

@import url('https://fonts.googleapis.com/css?family=MonteCarlo');

#Label{
  font-family: 'MonteCarlo', cursive;

  display: flex;
  /* align-items: flex-end;   */
  align-items: center;
  font-weight: bold;
  font-size: 25pt;
  color: goldenrod;
  padding-right: 30px;
  /* background-color: aqua; */
}

.LabelPlacement{
  display: flex;
}