.Note{
    display: flex;
    width: 35px;
    height: 35px;
    background-color: black;
    margin-left: 5px;
    border-radius: 5px;
    border: 5px solid black;
}

.Note.active{
    background-color: darkslategrey;
}

.Note.edit{
    border: 5px solid gold;
}

.Note.played{
    border: 5px solid red;
}